@import "../../_globals/variables";

.subsidiary {
	&__inner {
		padding: 50px $padding 100px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 25px 0;
		}

		h2 {
			font-size: clamp(23px, 1.8vw, 26px);
		}

		p {
			text-align: justify;
			margin: 15px 0;
		}
	}
}