@import "../../_globals/variables";

.home {
	&__about {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 50px $padding;
		
		&_left {
			width: 50%;

			small {
				color: $secondary;
				font-size: clamp(16px, 1.1vw, 18px);
				text-transform: uppercase;
			}

			h2 {
				margin: 10px 0 20px;
			}

			p {
				margin-bottom: 15px;
			}

			&_bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 30px 0;

				&_box {
					background-color: $accent;
					border-radius: 6px;
					color: #fff;
					font-family: $heading-font;
					font-size: clamp(25px, 2.3vw, 35px);
					font-weight: 600;
					line-height: 38px;
					padding: 50px 30px;
					width: 40%;

					span {
						color: $secondary;
					}
				}
			}
		}

		&__right {
			width: 50%;
		}
	}
}