/* colors */
$primary: #080D1C;
$secondary: #DAA520;
$accent: #080d1c;
$link: #DAA520;
$white: #FFF;
$heading: #000;
$text: #454545;
$grey: #454545;
$background: #eaedf3;
$light-background: #f7f7f7;

$body-font: 'Montserrat', sans-serif;;
$heading-font: 'Montserrat', sans-serif;

$box-shadow: rgba(10, 10, 10, 0.2) 0px 7px 29px 0px;
$border-radius: 6px;

/* Fluid Layout */
$padding: clamp(30px, 9vw, 250px);