/* colors */
$primary: #FFAD22;
$secondary: #004953;
$link: #FFAD22;
$white: #FFF;
$text: #041c26;
$grey: #454545;

$box-shadow: rgba(10, 10, 10, 0.2) 0px 7px 29px 0px;

/* Fluid Layout */
$padding: clamp(30px, 9vw, 250px);