@import "../../_globals/variables";

.privacy {
	padding: 130px $padding 100px;
	text-align: justify;

	h1 {
		font-size: clamp(30px, 2.8vw, 60px);
		margin-bottom: 20px;
	}

	&__content {
		text-align: justify;
		
		p {
			margin-bottom: 10px;
		}

		h2,
		h3,
		h4 {
			font-weight: 600;
			margin: 20px 0 10px;
		}
	}
}