@import "../../_globals/variables";

.travelGuides {
	transition: transform .5s ease-out;

	&:hover {
		transform: translateY(-15px);
	}
	
	&__photo {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
		height: 150px;

		@media only screen and (max-width: 767px) {
			height: 200px;
		}
	}

	&__content {
		padding: 10px 5px;

		h4 {
			font-size: clamp(14px, 1vw, 18px);
			margin: 5px 0 10px;

			@media only screen and (max-width: 767px) {
				font-size: clamp(16px, 1.1vw, 20px);
			}
		}

		p {
			font-size: clamp(14px, 1vw, 18px);

			@media only screen and (max-width: 767px) {
				font-size: clamp(16px, 1.1vw, 20px);
			}
		}
	}
}